# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. SQL 
1. R 
1. PYTHON

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
1. NumPy
1. Matplotlib

|Data Science Tools|
|:----------------:|
|mongodb|
|sparkl|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
* Julia
* R
* python

## Author
khaldi yassine